@page "/insertar"
@using Lista_Enlazadas.Server;
<PageTitle>Insertar Doblemente Enlazada</PageTitle>
<h1 style="text-align: center">Insertar en Listas Doblemente Enlazadas</h1>

<input type="text" @bind="valor" class="form-control" placeholder="Ingrese un valor" />
<br />
<button @onclick="AgregarInicio" class="btn"
        style="background-color: rgb(0, 89, 170); border-color: rgb(0, 89, 170); color: white;">
    Insertar Nodo Al Inicio
</button>
<button @onclick="AgregarFinal" class="btn"
        style="background-color: rgb(0, 89, 170); border-color: rgb(0, 89, 170); color: white;">
    Insertar Nodo Al Final
</button>
<br />
<br />
<input type="text" @bind="valorBusqueda" class="form-control" placeholder="Valor de Referencia" />
<br />
<br />
<button @onclick="AntesDatoX" class="btn"
        style="background-color: rgb(0, 89, 170); border-color: rgb(0, 89, 170); color: white;">
    Insertar Nodo Antedes De Dato X
</button>
<button @onclick="DespuesDatoX" class="btn"
        style="background-color: rgb(0, 89, 170); border-color: rgb(0, 89, 170); color: white;">
    Insertar Nodo Despues De Dato X
</button>
<button @onclick="Buscar" class="btn"
        style="background-color: rgb(0, 89, 170); border-color: rgb(0, 89, 170); color: white;">
    Buscar nodo con Dato X
</button>
<br />
<br />
<input type="text" @bind="posicion" class="form-control" placeholder="Ingrese Posicion" />
<br />
<br />
<button @onclick="AntesPosicionDatoX" class="btn"
        style="background-color: rgb(0, 89, 170); border-color: rgb(0, 89, 170); color: white;">
    Insertar Nodo Antes de Posicion X
</button>
<button @onclick="DespuesPosicionDatoX" class="btn"
        style="background-color: rgb(0, 89, 170); border-color: rgb(0, 89, 170); color: white;">
    Insertar Nodo Despues de Posicion X
</button>
<button @onclick="Ordenar" class="btn"
        style="background-color: rgb(0, 89, 170); border-color: rgb(0, 89, 170); color: white;">
    Ordenar Lista
</button>
<br />
<br />
<p>@mensaje</p>

<ul class="list-group">
    @{
        NodoD nodoTemporal = Lista.PrimerNodo;
        while (nodoTemporal != null)
        {
            <li class="list-group-item">@nodoTemporal.Informacion</li>
            nodoTemporal = nodoTemporal.ReferenciaSiguiente;
        }
    }
</ul>
<br />
<br />

<button @onclick="VaciarLista" class="btn"
        style="background-color: rgb(0, 89, 170); border-color: rgb(0, 89, 170); color: white;">
    Vaciar Lista
</button>

@code {
    public string valor { get; set; }
    public string valorBusqueda { get; set; }
    public string posicion { get; set; }
    public string mensaje { get; set; }
    public LED Lista { get; set; }

    protected override void OnInitialized()
    {
        Lista = new LED();
        base.OnInitialized();
    }

    NodoD CrearNodo()
    {
        return new NodoD(valor);
    }
    public void VaciarLista()
    {
        mensaje = Lista.VaciarLista();
    }

    public void AgregarInicio()
    {
        mensaje = Lista.AgregarNodoINicio(CrearNodo());
    }

    public void AgregarFinal()
    {
        mensaje = Lista.AgregarNodoFinal(CrearNodo());
    }

    public void AntesDatoX()
    {
        mensaje = Lista.AntesDatoX(valorBusqueda, CrearNodo());
    }
    public void DespuesDatoX()
    {
        mensaje = Lista.DespuesDatoX(valorBusqueda, CrearNodo());
    }

    public void AntesPosicionDatoX()
    {
        if (int.TryParse(posicion, out int posicionx))
        {
            mensaje = Lista.AgregarAntesPosicionX(posicionx, CrearNodo());
        }
        else
        {
            mensaje = "Posicion Invalida";
        }
    }

    public void DespuesPosicionDatoX()
    {
        if (int.TryParse(posicion, out int posicionx))
        {
            mensaje = Lista.AgregarDespuesPosicionX(posicionx, CrearNodo());
        }
        else
        {
            mensaje = "Posicion Invalida";
        }
    }
    public void Buscar()
    {
        mensaje = Lista.Buscar(valorBusqueda);
    }
    public void Ordenar()
    {
        mensaje = Lista.OrdenarLista();
    }


}
